
@font-face {
	font-family: 'Sweet'; 
	src: url('../fonts/Sweet-Font.ttf'); 
}


@font-face {
	font-family: 'Fabrica'; 
	src: url('../fonts/Fabrica.otf'); 
}

li{
	display:inline-block;
	color:white;
	margin-right:10px;
	font-family: 'Fabrica'; 
}

.welcome{
	background:cornflowerblue;

}

.welcome-banner{
	font-family: 'Sweet';
	background:cornflowerblue;
}

.welcome-blurb{
	font-family: 'Fabrica';
	background:cornflowerblue;
}
.nav-list{
	margin-top:10px;
	margin-right:50px;
}

.headline-navigation{
	float:right;
}


.curtain{
	position:absolute;
	width:100%;
	height:100%;
	background:red;

}

.startButton{
	width:100px;
	height:100px;
}

.content-area{
	width:100%;
	background:red;
	padding-top:70px;

}

.home-screen{
	min-height:500px;
}

.start-game-area{
	min-height: 400px;
    text-align: center;
}

.start-game-button{
	font-size: 70px;
    margin-top: 50px;
	min-height: 100px;
    min-width: 150px;
    border: none;
    background-color: cornflowerblue;
    font-family: 'Sweet';
}

.game-container{
	margin:0 auto;
	clear:both;
	overflow:auto;
	min-width:900px;
	width:900px;
	overflow:visible;
	min-height: 500px;


}

.game-ball{
	height:400px;
	float:left;
	width:400px;
	overflow:visible;
	background-position: center; 
	-webkit-transition:  -webkit-bottom .5s; /* Safari */
	transition: bottom .5s;
	position:relative;
	bottom:0;
	box-sizing: border-box;
	


}

.game-pane{
	width:100%;
	height:300px;
	overflow:hidden;
	box-sizing: border-box;

	/*-webkit-box-shadow: -18px -17px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px -17px 2px 0px rgba(0,0,0,0.75);
    box-shadow: -18px -17px 2px 0px rgba(0,0,0,0.75);
    */
}

.results-area{
	height:500px;
	margin: 50px;
}

.answer{
	visibility:hidden;
	width:100%;
	height:100%;
	position:absolute;
}
.headline{
	top:100%;
	position:relative;
}

.answer-overlay{
	position: absolute;
    height: 300px;
    width: 100%;
    opacity: .5;
}

.info-area{
	width:100%;
	font-family: 'Fabrica';
	background:cornflowerblue;
	color:white;
	height:120px;
	box-sizing: border-box;
	text-align: center;
	-webkit-transition:  -webkit-border-bottom .5s; /* Safari */
	transition: border-bottom .5s;



}

.info-tab{
	width:50%;

}

.main-title{
	font-family: 'Fabrica';
	margin-left: 350px;
	color: white;
	margin-bottom: 25px;
	font-weight: 900;
}




.connector{
	width:100px;
	height:300px;
	float:left;

}

.game-timer{

}

.answerPane{

}

.imager{
	height:100%;
	width:100%;
}

.website-title{
	font-family: 'Sweet';
	font-size: 30px;
	color:white;
	margin-left:20px;
	display:inline-block;

}

.home-link{
	text-decoration: none;
    color: inherit;
    cursor: auto;
}

.home-link:hover{
	text-decoration: none;
    color: inherit;
    cursor: auto;
}

.home-link:visited{
	text-decoration: none;
    color: inherit;
    cursor: auto;
}

.home-link:link{
	text-decoration: none;
    color: inherit;
    cursor: auto;
}

.header{
	width:100%;
	background: black;
	

}

.time{
	font-size: 75px;

}

.timer{
	width:100%;
	height:100px;
	background:cornsilk;
	margin-top: 100px;
	text-align: center;
}

.footer{
	width:100%;
	height:200px;
	background:black;

}

.spanner{
	/* float:left;  remove*/
	padding:10px 12px;
	text-transform: uppercase;
	font-size: 24px;      
	font-weight:bold;
	display: table-cell;
	vertical-align: middle;

}

